@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
html,
body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}
body {
  color: $promotion__bg__color;
}
.secondary__background {
  background-color: $secondary__bg__color;
}
.component__title {
  font-size: 2rem;
  font-weight: bold;
  color: $secondary__color;
  position: relative;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.component__title::before {
  position: absolute;
  content: '';
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background-color: $secondary__color;
}

.component__intro {
  color: $muted__text;
  font-size: 0.9rem;
}
// COMPONENT VUESAX=========
.con-vs-checkbox {
  justify-content: flex-start !important;
}
.vs-component.con-vs-checkbox.vs-checkbox-primary.vs-checkbox-default {
  margin: 0 !important;
}
.fill__border {
  border: 1px solid $primary__color !important;
}

// SECTION
.section__margin--y {
  margin: 4rem 0;
}
.section__margin {
  margin: 4rem;
}
.section__margin--b {
  margin-bottom: 4rem;
}
.section__padding--y {
  padding: 4rem 0;
}
.section__padding {
  padding: 4rem;
}
.section__padding--b {
  padding-bottom: 4rem;
}

// BADEG
.custom__badge {
  padding: 0.4rem 0.6rem;
  background-color: $warning__color;
  color: $secondary__color;
  font-size: 0.7rem;
  border-radius: 5px;
}
.custom__hot {
  background-color: #ffc2f3;
  color: #620c50;
}
.custom__new {
  background-color: #ffe2d9;
  color: #d23001;
}
.custom__saleoff {
  background-color: #e3dbff;
  color: #5c39d4;
}
// TEXT PRIMARY
.text__primary {
  color: $primary__color !important;
}
