$primary__color: #156867;
$secondary__color: #ffa500;
$danger__color: #d92523;
$three__color: #222426;
$white__color: #fff;
$promotion__bg__color: #294057;
$muted__color: #ababab;
$secondary__bg__color: #f9f9f9;

$primary__text: #111111;
