$primary__color: #ffb400;
$secondary__color: #2d2430;
$three__color: #252531;
$four__color: #2e2e3b;
$five__color: #949494;
$danger__color: #d92523;
$white__color: #fff;
$promotion__bg__color: #294057;
$muted__color: #ababab;
$secondary__bg__color: #f9f9f9;
$vote__bg__color: #f7f7f7;

$primary__text: #111111;

// NEW COLOR
$primary__text__color: #666666;
