$primary__color: #ffb400;
$secondary__color: #2d2430;
$three__color: #252531;
$four__color: #2e2e3b;
$five__color: #949494;
$danger__color: #cc1414;

$warning__color: #ffb400;
$white__color: #fff;
$promotion__bg__color: #294057;
$secondary__bg__color: #f9f9f9;
$footer__bg__color: #f8f9fa;
$vote__bg__color: #f7f7f7;

$primary__text: #333333;
$muted__text: #666666;
$danger__text: #cc1414;
$warning__text: #ffb400;

// NEW COLOR
$primary__text__color: #666666;

// BADGE COLOR
$danger__badge: #ffc2f3;
$danger__badge__text: #620c50;
